<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="userVo" type="kr.or.ddit.user.model.UserVo" />
<!-- 		<typeAlias alias="pageVo" type="kr.or.ddit.paging.model.PageVo" /> -->
<!-- 		<typeAlias alias="prodVo" type="kr.or.ddit.prod.model.ProdVo" /> -->
	</typeAliases>
	
	<mappers>
		<mapper resource="kr/or/ddit/config/mybatis/mapper/user.xml" />
<!-- 		<mapper resource="kr/or/ddit/config/mybatis/mapper/prod.xml" /> -->
	</mappers>
</configuration>







